body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    
    background-color: #252627;
}

html {
    scroll-behavior: smooth;
  }

nav ul,
.main-info-section,
.work-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1em;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar {
    display: flex;
    background-color: #181818;
    padding: 0 5em 0 5em;/*aun no se si dejar esto*/

}

header h1,
header a,
.welcome-section h1 h3 p a,
.about h1,
.skill h1,
.work h1,
.contact h1 {
    color: #707070;
}

li {
    list-style: none;
    margin-left: 30px;
}

a {
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    position: relative;
}

.text-title {
    color: #fff;
    font-size: 2rem;
    cursor: context-menu;
}

#welcome-section {
    padding: 0 5em 0 5em;/*aun no se si dejar esto*/
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

#welcome-section a {
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #ED5565;
    color: #ED5565;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}

#welcome-section a:hover {
    color: #fff;
  }
  
#welcome-section a::before {
    content: '';
    background-color: #ED5565;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}
  
#welcome-section a:hover::before {
    height: 100%;
}

#izquierda {
    margin-top: 15em;
}

.profile-image img {
    width: 450px;
    margin-top: 15em;
}

.about {
    height: 100vh;
    margin-top: 100px;
    padding: 0 5em 0 5em;/*aun no se si dejar esto*/
}

.about h1,
.work h1 {
    font-size: 10rem;
    z-index: 0;
    opacity: .1;
}/*falta CONTACT*/

.about-me-info {
    max-width: 900px;
    background-color: #252627;
    box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    padding: 50px;
    position: relative;
    top: -70px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.about-me-info p {
    font-size: 1.3rem;
    color: #BEBEBE;
}

#skills {
    height: 100vh;

}
.skill {
    padding: 0 5em 0 5em;/*aun no se si dejar esto*/
}

.skill h1,
.contact h1 {
  text-align: right;
  font-size: 10rem;
  opacity: .1;
}

.skill h3 {
    text-align: center;
    color: #ED5565;
}

.skills-info {
    font-size: 1.4rem;
    color: #BEBEBE;
    max-width: 800px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;
}

.work {
    padding: 0 5em 0 5em;/*aun no se si dejar esto*/
    height: 100vh;
}

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    color: #BEBEBE;
    text-decoration: none;
}

.projects a {
    color: #BEBEBE;
    font-size: .9rem;
    text-transform: uppercase;
}

.projects a:hover {
    color: #ED5565;
}

.projects img {
    width: auto;
    height: 200px;
}






















.contact {
    padding: 0 5em 0 5em;/*aun no se si dejar esto*/
    height: 100vh;
}

form input,
form textarea {
    display: block;
    width: 500px;
    padding: 20px;
    background-color: #252627;
    border: 3px solid #707070;
    margin: 20px 0;
    outline: none;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}
  
form input:last-child {
    width: 150px;
    background-color: #ED5565;
    border: none;
    cursor: pointer;
}
  
footer hr {
    border: 2px solid #707070;
    margin-top: 80px;
}
  
footer p {
    text-align: center;
    color: #707070;
    font-size: 1.2rem;
    padding: 10px 0;
}
  
  








































  

















/*
.container {
    width: 90%;
    margin: auto;
}

a {
    text-decoration: none;
    color: white;
}

#welcome-section {

    display: flex;

}

#projects {

    display: flex;
    height: 30em;
}

hr {
    margin: 10px 0;
  }


 header {
    
 }
#navbar {

    display: flex;
    height: 5em;
    justify-content: flex-end;
    font-size: 20px;
    position:fixed;

    width: 100vh;
}

ul {
    list-style: none;
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li {
    padding: 10px;
}

#navbar ul li a{
    padding: 5px;   
}


#navbar ul li a:hover{
    border-bottom: 2px solid #ffffff;
}

#welcome-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url("./imgs/coding-computer1.jpg") no-repeat center center/cover;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

#welcome-section h1,
#welcome-section p{
    margin-bottom: 10px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    margin-bottom: 30px;
}

.btn:hover {
    opacity: .5;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px; 
    margin: 30px 0px;
}

#projects img {
    width: 100%;
    height: 180px;
}

#projects a {
    padding: 10px 0px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

#projects a:hover{
    border-bottom: 2px solid #ffffff;
}
*/